body {
  margin: 0px;
}

main {
  margin-left: 10px;
}

p {
  margin: 0px;
}

#site_header {
  background-image: url(../assets/img/pattern.png);
  background-color: #4ea0ff;
}
.logo {
  width: 200px;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 10px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 25px;
}

.author {
  color: #5cc0ec;
}

.subtitle {
  color: #858585;
}

.description {
  font-size: 0.8rem;
}

ul {
  padding-left: 15px;
}

table {
  border: spacing 0;
  border-collapse: collapse;
}

th,
td {
  padding-left: 30px;
  padding-right: 300px;
  text-align: left;
  background-color: #b1e5f2;
}

th {
  background-color: #20a9e5;
  color: white;
}

#white-row {
  background-color: white;
  color: red;
}
