body {
  margin: 0px;
}

#site_header {
  background-image: url(../assets/img/pattern.png);
  background-color: #4ea0ff;
}
.logo {
  width: 200px;
  margin-top: 75px;
  margin-bottom: 25px;
  margin-left: 10px;
}
